<div id="carousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
        <li data-target="#carousel" data-slide-to="3"></li>
        <li data-target="#carousel" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <a routerLink="/osumania">
                <img class="d-block w-100" src="https://i.imgur.com/I0j5U02.png" alt="osumania">
            </a>
        </div>
        <div class="carousel-item">
            <a routerLink="/beatmaniaiidx">
                <img class="d-block w-100" src="https://i.imgur.com/l75ChCd.jpg" alt="beatmaniaiidx">
            </a>
        </div>
        <div class="carousel-item">
            <a routerLink="/lunaticrave">
                <img class="d-block w-100" src="https://i.imgur.com/vdHMHzY.png" alt="lunaticrave2">
            </a>
        </div>
        <div class="carousel-item">
            <a routerLink="/ddr">
                <img class="d-block w-100" src="https://i.imgur.com/WZ0sEct.jpg" alt="dancedancerevolution">
            </a>
        </div>
        <div class="carousel-item">
            <a routerLink="/soundvoltex">
                <img class="d-block w-100" src="https://i.imgur.com/DMuITWl.jpg" alt="soundvoltex">
            </a>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>