<footer id="footer">
    <div class="container">
        <div class="row py-3">
            <div class="col-md-4 my-2 my-md-0 order-md-last">
                <div class="d-flex justify-content-center justify-content-md-end">
                    <a class="links mr-2" href="#">Rankings</a>
                    <a class="links" href="#">Downloads</a>
                </div>
            </div>
            <div class="col-md-4 my-2 my-md-0">
                <div class="d-flex justify-content-center">
                    <span>Artur "Arkitev" Góra 2019</span>
                </div>
            </div>
            <div class="col-md-4 my-2 my-md-0 order-md-first">
                <div class="d-flex justify-content-center justify-content-md-start">
                    <a class="ark-btn-socials mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                    <a class="ark-btn-socials mr-2" href="#"><i class="fab fa-twitter"></i></a>
                    <a class="ark-btn-socials mr-4" href="#"><i class="fab fa-youtube"></i></a>
                    <a class="contact" href="#">Contact</a>
                </div>
            </div>
        </div>
    </div>
</footer>