<ng-template #popContent>arkitevg@gmail.com <a ngxClipboard [cbContent]="emailText"><i class="far fa-copy pointer"></i></a></ng-template>
<ng-template #popTitle><b class="text-secondary">E-mail</b></ng-template>

<footer id="footer">
    <div class="container">
        <div class="row py-3">
            <div class="col-md-4 my-2 my-md-0 order-md-last">
                <div class="d-flex justify-content-center justify-content-md-end">
                    <a class="ark-links mr-2" tabIndex="0" [autoClose]="'outside'" [ngbPopover]="popContent" [popoverTitle]="popTitle">Contact</a>
                    <a class="ark-links mr-2" routerLink="/rules">Rules</a>
                </div>
            </div>
            <div class="col-md-4 my-2 my-md-0">
                <div class="d-flex justify-content-center">
                    <span>Artur "Arkitev" Góra 2019</span>
                </div>
            </div>
            <div class="col-md-4 my-2 my-md-0 order-md-first">
                <div class="d-flex justify-content-center justify-content-md-start">
                    <a class="ark-btn-socials mr-2" href="https://www.facebook.com/arkitevg" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a class="ark-btn-socials mr-2" href="https://twitter.com/_Arkitev" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a class="ark-btn-socials mr-4" href="https://www.youtube.com/user/gora10255" target="_blank"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>