<div class="container">

    <div class="container mt-2">
        <div class="row">
            <div class="mx-auto">
                <img src="https://i.imgur.com/SjL3d1G.png " alt="osu!mania_logo">
            </div>
        </div>
    </div>

    <div class="container mt-3">
        <h2 class="text-center"><strong>About game</strong></h2>
        <p>Mania mode has been widely used in almost all of the major rhythm games. It require good hand coordination where the notes (with their quantity depending on BPM and difficulty) move on a keyboard. The player will have to press the correct key
            for that specific note in time. Though the game mode was originally made as an imitation of the Beatmania style of playing, osu!mania allows changing the number of keys or vertically flipping the orientation of the playfield (this means that
            it can be made to look more like Guitar Hero [5 keys] or Dance Dance Revolution [4 keys] and so on).</p>
        <h2 class="text-center"><strong>History</strong></h2>
        <p>osu!mania was released on 08 October 2012 (2012-10-08), chiefly implemented by woc2006. The old osu!mania editor used to require the beatmapper to place hit circles/sliders onto a osu! playfield, where it will then be transcribed onto the stage
            as proper notes based on position placed and hit objects used. The first osu!mania-only beatmapset to be officially ranked is fripSide - only my railgun (TV Size) (DJPop).</p>
        <h2 class="text-center"><strong>Scoring</strong></h2>
        <p>It is simple because scoring depends on accurate catching "notes" and quantity of misses etc... There is two score indicators. First method is number of score points what is most important in casual game, but not in dans. Second indicator is percentage
            of getting "judgements" from all of notes. In summary - as you are more accurate, score will be better. It has impact in dan score.</p>
    </div>

</div>