<div class="container">
    <div class="row mb-3">
        <div class="col-md-12">
            <h1 class="text-center">Downloads</h1>
        </div>
    </div>
</div>

<div class="container">

    <ul class="list-group mb-2">
        <li class="list-group-item list-group-item-dark"><img src="https://i.imgur.com/SjL3d1G.png" alt="osu!mania_logo" width="35" height="35"><a class="text-dark" href="https://osu.ppy.sh/home" target="_blank"> osu! Website</a></li>
        <li class="list-group-item list-group-item-dark"><img src="https://i.imgur.com/SjL3d1G.png" alt="osu!mania_logo" width="35" height="35"><a class="text-dark" href="https://osu.ppy.sh/home/download" target="_blank"> osu!mania Download</a></li>
        <li class="list-group-item list-group-item-dark"><img src="https://i.imgur.com/SjL3d1G.png" alt="osu!mania_logo" width="35" height="35"><a class="text-dark" href="https://osu.ppy.sh/community/forums/topics/597350" target="_blank"> osu! 4k Reform Dans</a></li>
        <li class="list-group-item list-group-item-dark"><img src="https://i.imgur.com/ewYXRtf.png" alt="osu!mania_logo" width="35" height="35"><a class="text-dark" href="https://p.eagate.573.jp/game/2dx/27/top/index.html" target="_blank"> Beatmania IIDX Website</a></li>
        <li class="list-group-item list-group-item-dark"><img src="https://i.imgur.com/ewYXRtf.png" alt="osu!mania_logo" width="35" height="35"><a class="text-dark" href="https://remywiki.com/Beatmania_IIDX_Dan_Courses" target="_blank"> Beatmania IIDX Dans</a></li>
        <li class="list-group-item list-group-item-dark"><img src="https://i.imgur.com/X9OjJvP.png" alt="osu!mania_logo" width="35" height="35"><a class="text-dark" href="https://www.reddit.com/r/lunaticrave2/" target="_blank"> Lunatic Rave 2 Website</a></li>
        <li class="list-group-item list-group-item-dark"><img src="https://i.imgur.com/X9OjJvP.png" alt="osu!mania_logo" width="35" height="35"><a class="text-dark" href="https://www.reddit.com/r/lunaticrave2/wiki/index#wiki_single_songs_.7E_quick_download_links" target="_blank"> Lunatic Rave 2 Download</a></li>
        <li class="list-group-item list-group-item-dark"><img src="https://i.imgur.com/X9OjJvP.png" alt="osu!mania_logo" width="35" height="35"><a class="text-dark" href="https://www.reddit.com/r/lunaticrave2/wiki/index#wiki_6._dan_courses.2C_clear_statuses.2C_and_grading" target="_blank"> Lunatic Rave 2 Dans</a></li>
        <li class="list-group-item list-group-item-dark"><img src="https://i.imgur.com/qMhfBCT.png" alt="osu!mania_logo" width="35" height="35"><a class="text-dark" href="https://www.konami.com/games/asia/en/products/ddr_a/" target="_blank"> Dance Dance Revolution Website</a></li>
        <li class="list-group-item list-group-item-dark"><img src="https://i.imgur.com/qMhfBCT.png" alt="osu!mania_logo" width="35" height="35"><a class="text-dark" href="https://remywiki.com/DanceDanceRevolution_Dan_Courses" target="_blank"> Dance Dance Revolution Dans</a></li>
        <li class="list-group-item list-group-item-dark"><img src="https://i.imgur.com/dwuvTuQ.png" alt="osu!mania_logo" width="35" height="35"><a class="text-dark" href="https://p.eagate.573.jp/game/sdvx/v/p/top/" target="_blank"> Sound Voltex Website</a></li>
        <li class="list-group-item list-group-item-dark"><img src="https://i.imgur.com/dwuvTuQ.png" alt="osu!mania_logo" width="35" height="35"><a class="text-dark" href="https://bemaniwiki.com/index.php?SOUND%20VOLTEX%20VIVID%20WAVE/SKILL%20ANALYZER" target="_blank"> Sound Voltex Dans</a></li>
    </ul>


</div>