<app-carousel></app-carousel>

<div class="container">

    <div class="container mt-5">
        <div class="row">
            <div class="mx-auto bg-dark rounded-circle p-5 d-block">
                <img src="https://i.imgur.com/iasia50.png" alt="Logo">
            </div>
        </div>
        <div class="row mt-3">
            <h4>This site was made for VSRG (Vertically Scrolling Rhythm Game) players who want to show off their performance in different vsrg games. By this site you can submit your best scores and compare them with other players by checking rankings for
                specific categories. You can also learn something about these games by checking "Games" page. All you have to do is creating your account and then you can enjoy rhythm games with our site even more!
            </h4>
        </div>
        <hr />
    </div>

    <div class="mt-5">
        <h5>Submit your score</h5>
    </div>
    <div class="text-danger mt-3" *ngIf="!isLogged">
        <h6>Only logged users can submit scores!</h6>
    </div>
    <hr />

    <form [formGroup]="submitScoreForm" (ngSubmit)="onSubmit(); onReset();">

        <!--Category-->
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="game">Category</label>
            <div class="col-sm-10">
                <select [(ngModel)]="selectedGame" class="form-control" formControlName="category" id="category" (change)="onChangeCategory(selectedGame)">
                    <option hidden selected></option>
                    <option *ngFor="let category of categories">
                        {{category.name}}
                     </option>
                </select>
                <div *ngIf="category.invalid && (category.dirty || category.touched)" class="alert alert-danger">
                    <div *ngIf="category.errors.required">Category is required.</div>
                </div>
            </div>
        </div>

        <!--Dan-->
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="dan">Dan</label>
            <div class="col-sm-10">

                <ng-container [ngSwitch]="selectedGame">
                    <select class="form-control" formControlName="dan" id="dan">
                        
                        <ng-container *ngSwitchCase="'osu!mania 4k - Reform Dans'">
                            <option hidden selected></option>
                            <option *ngFor="let dan of omDans">{{dan}}</option>
                        </ng-container>   
                            
                        <ng-container *ngSwitchCase="'Beatmania IIDX - Single Play'">
                            <option hidden selected></option>
                            <option *ngFor="let dan of bmsDans">{{dan}}</option>
                        </ng-container>

                        <ng-container *ngSwitchCase="'Lunatic Rave 2 - BMS'">
                            <option hidden selected></option>
                            <option *ngFor="let dan of lrDans">{{dan}}</option>
                        </ng-container>

                        <ng-container *ngSwitchCase="'Dance Dance Revolution - Single Play'">
                            <option hidden selected></option>
                            <option *ngFor="let dan of ddrDans">{{dan}}</option>
                        </ng-container> 

                        <ng-container *ngSwitchCase="'Sound Voltex - New Dans'">
                            <option hidden selected></option>
                            <option *ngFor="let dan of sdvxDans">{{dan}}</option>
                        </ng-container> 

                    </select>
                    <div *ngIf="dan.invalid && (dan.dirty || dan.touched)" class="alert alert-danger">
                        <div *ngIf="dan.errors.required">Dan is required.</div>
                    </div>
                </ng-container>

            </div>
        </div>

        <!--Nickname-from-game-->
        <div class="form-group row ">
            <label class="col-sm-2 col-form-label" for="nickname">Nickname from game</label>
            <div class="col-sm-10">
                <input class="form-control" formControlName="nickname" id="nickname" type="text">
                <div *ngIf="nickname.invalid && (nickname.dirty || nickname.touched)" class="alert alert-danger">
                    <div *ngIf="nickname.errors.required">Nickname is required.</div>
                </div>
            </div>
        </div>

        <!--Score-->
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="score">Score</label>
            <div class="col-sm-10">
                <div class="input-group">
                    <input class="form-control" formControlName="score" id="score" type="number">
                    <div class="input-group-append">
                        <span class="input-group-text" *ngIf="!isCategoryOM">pts</span>
                        <span class="input-group-text" *ngIf="isCategoryOM">%</span>
                    </div>
                </div>
                <div *ngIf="score.invalid && (score.dirty || score.touched)" class="alert alert-danger">
                    <div *ngIf="score.errors.required">Score is required.</div>
                </div>
            </div>
        </div>

        <!--Proof-->
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="proof">Proof (link to screenshoot or video)</label>
            <div class="col-sm-10">
                <input class="form-control" formControlName="proof" id="proof" type="url">
                <div *ngIf="proof.invalid && (proof.dirty || proof.touched)" class="alert alert-danger">
                    <div *ngIf="proof.errors.required">Proof is required.</div>
                </div>
            </div>
        </div>

        <button class="btn btn-primary mb-3" type="submit" [disabled]="formDisabled || submitScoreForm.invalid">Submit score</button>
        <div class="alert alert-success mb-3" [class.alert-danger]="!successScoreSubmit" *ngIf="message">{{message}}</div>
    </form>

</div>