<app-carousel></app-carousel>

<div class="container">
    <div class="mt-3">
        <h5>Submit your score</h5>
    </div>
    <div class="text-danger mt-3" *ngIf="!isLogged">
        <h6>Only logged users can submit scores!</h6>
    </div>
    <hr />
    <form [formGroup]="submitScoreForm" (ngSubmit)="onSubmit(); onReset();">
        <!--Category-->
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="game">Category</label>
            <div class="col-sm-10">
                <select [(ngModel)]="selectedGame" class="form-control" formControlName="category" id="category" (change)="enableDanControl()">
                    <option hidden selected></option>
                    <option *ngFor="let category of categories">
                        {{category.name}}
                     </option>
                </select>
                <div *ngIf="category.invalid && (category.dirty || category.touched)" class="alert alert-danger">
                    <div *ngIf="category.errors.required">Category is required.</div>
                </div>
            </div>
        </div>

        <!--Dan-->
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="dan">Dan</label>
            <div class="col-sm-10">

                <ng-container [ngSwitch]="selectedGame">
                    <select class="form-control" formControlName="dan" id="dan">
                        
                        <ng-container *ngSwitchCase="'osu!mania 4k - Reform Dans'">
                            <option hidden selected></option>
                            <option>INTRO 1st</option>
                            <option>INTRO 2nd</option>
                            <option>INTRO 3rd</option>
                            <option>1st</option>
                            <option>2nd</option>
                            <option>3rd</option>
                            <option>4th</option>
                            <option>5th</option>
                            <option>6th</option>
                            <option>7th</option>
                            <option>8th</option>
                            <option>9th</option>
                            <option>10th</option>
                            <option>Alpha</option>
                            <option>Beta</option>
                            <option>Gamma</option>
                            <option>Delta</option>
                            <option>Epsilon</option>
                        </ng-container>   
                            
                        <ng-container *ngSwitchCase="'Beatmania IIDX - Single Play'">
                            <option hidden selected></option>
                            <option>7th Kyu</option>
                            <option>6th Kyu</option>
                            <option>4th Kyu</option>
                            <option>3rd Kyu</option>
                            <option>2nd Kyu</option>
                            <option>1st Kyu</option>
                            <option>1st</option>
                            <option>2nd</option>
                            <option>3rd</option>
                            <option>4th</option>
                            <option>5th</option>
                            <option>6th</option>
                            <option>7th</option>
                            <option>8th</option>
                            <option>9th</option>
                            <option>10th</option>
                            <option>Chuuden</option>
                            <option>Kaiden</option>
                        </ng-container>

                        <ng-container *ngSwitchCase="'Lunatic Rave 2 - BMS'">
                            <option hidden selected></option>
                            <option>1st Normal</option>
                            <option>2nd Normal</option>
                            <option>3rd Normal</option>
                            <option>4th Normal</option>
                            <option>5th Normal</option>
                            <option>6th Normal</option>
                            <option>7th Normal</option>
                            <option>8th Normal</option>
                            <option>9th Normal</option>
                            <option>10th Normal</option>
                            <option>1st Insane</option>
                            <option>2nd Insane</option>
                            <option>3rd Insane</option>
                            <option>4th Insane</option>
                            <option>5th Insane</option>
                            <option>6th Insane</option>
                            <option>7th Insane</option>
                            <option>8th Insane</option>
                            <option>9th Insane</option>
                            <option>10th Insane</option>
                            <option>Kaiden</option>
                            <option>Overjoy</option>
                        </ng-container>

                        <ng-container *ngSwitchCase="'Dance Dance Revolution - Single Play'">
                            <option hidden selected></option>
                            <option>1st</option>
                            <option>2nd</option>
                            <option>3rd</option>
                            <option>4th</option>
                            <option>5th</option>
                            <option>6th</option>
                            <option>7th</option>
                            <option>8th</option>
                            <option>9th</option>
                            <option>10th</option>
                            <option>Kaiden</option>
                        </ng-container> 

                        <ng-container *ngSwitchCase="'Sound Voltex - New Dans'">
                            <option hidden selected></option>
                            <option>Lv.01</option>
                            <option>Lv.02</option>
                            <option>Lv.03</option>
                            <option>Lv.04</option>
                            <option>Lv.05</option>
                            <option>Lv.06</option>
                            <option>Lv.07</option>
                            <option>Lv.08</option>
                            <option>Lv.09</option>
                            <option>Lv.10</option>
                            <option>Lv.11</option>
                            <option>Lv.∞</option>
                        </ng-container> 

                    </select>
                    <div *ngIf="dan.invalid && (dan.dirty || dan.touched)" class="alert alert-danger">
                        <div *ngIf="dan.errors.required">Dan is required.</div>
                    </div>
                </ng-container>

            </div>
        </div>

        <!--Nickname-from-game-->
        <div class="form-group row ">
            <label class="col-sm-2 col-form-label" for="nickname">Nickname from game</label>
            <div class="col-sm-10">
                <input class="form-control" formControlName="nickname" id="nickname" type="text">
                <div *ngIf="nickname.invalid && (nickname.dirty || nickname.touched)" class="alert alert-danger">
                    <div *ngIf="nickname.errors.required">Nickname is required.</div>
                </div>
            </div>
        </div>

        <!--Score-->
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="score">Score</label>
            <div class="col-sm-10">
                <input class="form-control" formControlName="score" id="score" type="number">
                <div *ngIf="score.invalid && (score.dirty || score.touched)" class="alert alert-danger">
                    <div *ngIf="score.errors.required">Score is required.</div>
                </div>
            </div>
        </div>

        <!--Proof-->
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="proof">Proof (link to screenshoot or video)</label>
            <div class="col-sm-10">
                <input class="form-control" formControlName="proof" id="proof" type="url">
                <div *ngIf="proof.invalid && (proof.dirty || proof.touched)" class="alert alert-danger">
                    <div *ngIf="proof.errors.required">Proof is required.</div>
                </div>
            </div>
        </div>

        <button class="btn btn-primary mb-3" type="submit" [disabled]="formDisabled || submitScoreForm.invalid">Submit score</button>
        <div class="alert alert-success mb-3" [class.alert-danger]="!successScoreSubmit" *ngIf="message">{{message}}</div>
    </form>

</div>