<div class="container">

    <div class="container mt-2">
        <div class="row">
            <div class="mx-auto">
                <img src="https://i.imgur.com/qMhfBCT.png" alt="dancedancerevolution_logo" width="300" height="120">
            </div>
        </div>
    </div>

    <div class="container mt-3">
        <h2 class="text-center"><strong>About game</strong></h2>
        <p>Players stand on a "dance platform" or stage and hit colored arrows laid out in a cross with their feet to musical and visual cues. Players are judged by how well they time their dance to the patterns presented to them and are allowed to choose
            more music to play to if they receive a passing score.</p>
        <h2 class="text-center"><strong>History</strong></h2>
        <p>Dance Dance Revolution (ダンスダンスレボリューション, Dansu Dansu Reboryūshon) (DDR), also known as Dancing Stage in earlier games in Europe, Central Asia, Middle East, Africa, South Asia and Oceania, and also some other games in Japan, is a music video game
            series produced by Konami. Introduced in Japan in 1998 as part of the Bemani series, and released in North America and Europe in 1999, Dance Dance Revolution is the pioneering series of the rhythm and dance genre in video games.</p>
        <h2 class="text-center"><strong>Scoring</strong></h2>
        <p>The core gameplay involves the player stepping their feet to correspond with the arrows that appears on screen and the beat. During normal gameplay, arrows scroll upwards from the bottom of the screen and pass over a set of stationary arrows near
            the top (referred to as the "guide arrows" or "receptors", officially known as the Step Zone). When the scrolling arrows overlap the stationary ones, the player must step on the corresponding arrows on the dance platform, and the player is
            given a judgement for their accuracy of every streaked notes (From highest to lowest: Marvelous, Perfect, Great, Good, Almost, Miss).</p>
    </div>

</div>