<div class="container">

    <div class="container mt-2">
        <div class="row">
            <div class="mx-auto">
                <img src="https://i.imgur.com/ewYXRtf.png" alt="beatmaniaiidx_logo" width="200" height="200">
            </div>
        </div>
    </div>

    <div class="container mt-3">
        <h2 class="text-center"><strong>About game</strong></h2>
        <p>In IIDX games, players recreate the musical score of songs available to them through the use of a DJ simulating controller. The player must coordinate their hands in order to hit the correct keyboard buttons, spin the turntable, or a combination
            of both in correspondence to color-coded notes that approach the judgement bar displayed on screen. Notes are divided on screen by columns which separate them accordingly to match the seven buttons and the turntable on the DJ simulating controller.
            As a result of hitting notes, different sounds are then produced throughout a songs duration. Correctly hitting notes will produce an accurate musical score, while incorrectly hitting notes will produce inaccuracies and mistakes in the music.</p>
        <h2 class="text-center"><strong>History</strong></h2>
        <p>Beatmania IIDX (ビートマニア ツーディーエックス, Bītomania Tsū Di Ekkusu) is a series of rhythm video games, that was first introduced by Konami in Japan on February 26, 1999. IIDX has since spawned 27 arcade releases and 14 console releases on the Sony PlayStation
            2. It is the sequel to the beatmania game series, and part of the Bemani line of music games. A PC release titled beatmania IIDX INFINITAS has been announced, and began alpha testing in September 2015.</p>
        <h2 class="text-center"><strong>Scoring</strong></h2>
        <p>From beatmania IIDX to beatmania IIDX 4th Style, song difficulty ranged from Level 1 to Level 7. beatmania IIDX 5th Style introduced flashing Level 7s as the new top difficulty. Flashing 7s gave way to Level 8 difficulty in beatmania IIDX 10th
            Style, and Level 8+ was added in beatmania IIDX 11 IIDXRED. The version immediately after, beatmania IIDX 12 HAPPY SKY, introduced a new difficulty scale, from Level 1 to Level 12, which has remained the standard.</p>
    </div>

</div>