<div class="container">

    <div class="container mt-2">
        <div class="row">
            <div class="mx-auto">
                <img src="https://i.imgur.com/X9OjJvP.png" alt="lunaticrave2_logo" width="200" height="200">
            </div>
        </div>
    </div>

    <div class=" container mt-3 ">
        <h2 class="text-center "><strong>About game</strong></h2>
        <p>Lunatic Rave 2 (LR2) is more widely well known as a beatmania IIDX simulator, however, the dev of LR2 stated that it was not meant to be a BEMANI emulator. It should be considered a beatmania IIDX clone rather a simulator or emulator to be fully
            enjoyed. To quote the manual, it says: This software is free. This software is not BEMANI emulator. Do not play any IIDX song. Do not make/upload/use IIDX skins. Do not redistribute this software without our permission. Do not use this software
            for any commercial purpose. Support will not be provided for non-Japanese OS users.</p>
        <h2 class="text-center "><strong>Scoring</strong></h2>
        <p>Dan courses are a set 4 songs (3 if doubles mode) where a player must complete until the end. Also known as CLASS mode in IIDX. Each rank being more difficult than the last. The highest rank the player can achieve is considered his relative skill
            level. Randomize options are disabled for these courses. In LR2, you are allowed to select hard gauge. Once cleared, your rank will show on your profile page on the LR2IR.</p>
    </div>

</div>