.navbar-toggler:active {
    outline: none;
}

.show>.nav-link {
    color: #DCDCDC;
}

.nav-link {
    cursor: pointer;
}

#navbardrop:focus {
    color: #DCDCDC;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    background-color: #343a40;
}

.dropdown-item {
    background-color: #343a40;
    color: #A9A9A9;
}

.dropdown-item:hover {
    background-color: #171a1c;
    color: white;
}

.ark-has-search-icon .form-control {
    padding-left: 2.375rem;
    background-color: #454d54;
    border-style: none;
}

.ark-has-search-icon .form-control:focus {
    background-color: white;
    box-shadow: none;
}

.ark-has-search-icon .form-control:not(:focus) {
    color: #aaa;
}

.ark-has-search-icon .form-control-feedback {
    position: absolute;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.ark-search-window:focus,
.ark-btn-nav:active {
    box-shadow: none;
}

.ark-btn-nav {
    color: white;
}