.navbar-toggler:active {
    outline: none;
}

.show>.nav-link {
    color: #DCDCDC;
}

.nav-link {
    cursor: pointer;
}

#navbardrop:focus {
    color: #DCDCDC;
}

.dropdown-menu {
    margin-top: 0;
}

@media (min-width: 768px) {
    .dropdown:hover>.dropdown-menu {
        display: block;
    }
}

.dropdown-menu {
    background-color: #343a40;
}

.dropdown-item {
    background-color: #343a40;
    color: #A9A9A9;
}

.dropdown-item:hover {
    background-color: #171a1c;
    color: white;
}

.ark-btn-nav:active {
    box-shadow: none;
}

.ark-btn-nav {
    color: white !important;
    cursor: pointer;
}

.ark-submit-score {
    color: #1fc7e0 !important;
    font-weight: 600;
}

.ark-submit-score:hover {
    color: #78dded !important;
}