<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Players</h1>
        </div>
    </div>

    <div class="d-flex flex-wrap">
        <mat-card class="example-card bg-dark text-white m-2" *ngFor="let player of obsPlayers | async">
            <mat-card-content>
                <span class="card-text font-weight-bold">Username: </span>
                <span class="card-text">{{player.username}}</span>
                <br />
                <span class="card-text font-weight-bold mt-3">Main game: </span>
                <span class="card-text">{{player.mainGame}}</span>
                <br />
                <span class="card-text font-weight-bold">Scores submitted: </span>
                <span class="card-text">{{player.approvedScoresQuantity}}</span>
                <br />
                <span class="card-text font-weight-bold">Registration time: </span>
                <span class="card-text">{{player.registrationTime}}</span>
                <br />
            </mat-card-content>
        </mat-card>
    </div>
    <mat-paginator [pageSizeOptions]="[15, 30, 45, 60, 75]" showFirstLastButtons></mat-paginator>
</div>