<div class="container">

    <div class="container mt-2">
        <div class="row">
            <div class="mx-auto">
                <img src="https://i.imgur.com/dwuvTuQ.png" alt="soundvoltex_logo" width="250" height="190">
            </div>
        </div>
    </div>

    <div class="container mt-3">
        <h2 class="text-center"><strong>About game</strong></h2>
        <p>Sound Voltex consists of two different parts that relate to each other: Sound Voltex Booth and Sound Voltex Floor. Sound Voltex Booth is the main game, while SOUND VOLTEX FLOOR is a system wherein game content is created by Japanese artists and
            musicians. Content chosen from SOUND VOLTEX FLOOR will be inserted into SOUND VOLTEX BOOTH and become available in the game. Unlike other rhythm arcade games, SOUND VOLTEX does not require the players to play the music correctly, but to make
            various effects on the existing music.</p>
        <h2 class="text-center"><strong>History</strong></h2>
        <p>oSound Voltex (stylized as SOUND VOLTEX, often shortened as SDVX) is a series of music games by Konami. SOUND VOLTEX BOOTH was tested on various cities in Japan starting on August 26, 2011 until September 19, 2011. It was then released on January
            18, 2012. SOUND VOLTEX II -infinite infection- , SOUND VOLTEX III GRAVITY WARS , SOUND VOLTEX IV HEAVENLY HAVEN and SOUND VOLTEX VIVID WAVE are sequels to SOUND VOLTEX BOOTH, released on June 5, 2013, November 20, 2014, December 21, 2016,
            and February 28, 2019 respectively. It has since appeared, though more limited, in arcades outside of Japan (including some locations in the US and elsewhere). A conversion of SOUND VOLTEX III GRAVITY WARS, with the subtitle Konami Game Station
            was released as a PC game on October 4, 2017.</p>
        <h2 class="text-center"><strong>Scoring</strong></h2>
        <p>Various objects come towards player on the course lane, which consists of 6 columns of rails. The player is required to input corresponding commands when the object reaches the Critical Line at the bottom of the screen. The command required will
            differ, depending on the objects. Skill Analyzer mode is a mode added in SDVX II, which can let the player test their Skill Level. The player first selects the course to play, and the course will immediately begin after selection. The course
            is harder, as the Skill Level required is higher. Each Skill Level contains 3 different courses for the player to select.</p>
    </div>

</div>