<div class="container">

    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">User Panel</h1>
        </div>
    </div>

    <!--Nav-tabs-->
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="#myAccount" data-toggle="tab">My Account</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#Scores" data-toggle="tab">Scores</a>
        </li>
    </ul>

    <!--Tabs-content-->
    <div class="container">
        <div class="tab-content">

            <!--My-Account-tab-->
            <div class="tab-pane active" id="myAccount">

                <!--Personal-Information-->
                <div class="mt-3">
                    <h5>Personal Information</h5>
                </div>
                <hr/>
                <form>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="email">E-mail</label>
                        <div class="col-sm-10">
                            <input class="form-control-plaintext" id="email" type="email" readonly value="email@example.com">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="username">Username</label>
                        <div class="col-sm-10">
                            <input class="form-control" id="username" type="text" placeholder="Username">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="gameMod">Main game</label>
                        <div class="col-sm-10">
                            <select class="form-control" id="gameMod">
                                <option>---</option>
                                <option>osu!mania</option>
                                <option>Beatmania IIDX</option>
                                <option>Lunatic Rave 2</option>
                                <option>Dance Dance Revolution</option>
                                <option>Sound Voltex</option>
                            </select>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </form>

                <!--Change-password-->
                <div class="mt-5">
                    <h5>Change Password</h5>
                </div>
                <hr/>
                <form>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="currentPassword">Current password</label>
                        <div class="col-sm-10">
                            <input class="form-control" id="currentPassword" type="password">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="newPassword">New password</label>
                        <div class="col-sm-10">
                            <input class="form-control" id="newPassword" type="password">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="repeatedPassword">Confirm password</label>
                        <div class="col-sm-10">
                            <input class="form-control" id="repeatedPassword" type="password">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Save changes</button>

                </form>
            </div>

            <!--Scores-tab-->
            <div class="tab-pane" id="Scores">
                <div class="d-flex flex-wrap">

                    <div class="card bg-dark m-2">
                        <div class="card-body text-white">
                            <img src="https://i.imgur.com/t9aCl5G.png" alt="osumania_logo">
                            <br />
                            <br />
                            <span class="card-text font-weight-bold">Category: </span>
                            <span class="card-text">osu!mania 4k - Reform Dans</span>
                            <br />
                            <span class="card-text font-weight-bold">Dan: </span>
                            <span class="card-text">Alpha</span>
                            <br />
                            <span class="card-text font-weight-bold">Nickname: </span>
                            <span class="card-text">Arkitev</span>
                            <br />
                            <span class="card-text font-weight-bold">Score: </span>
                            <span class="card-text">96.94%</span>
                            <br />
                            <span class="card-text font-weight-bold">Proof: </span>
                            <span class="card-text">https://youtu.be/byAWcHkrGDc</span>
                            <br />
                        </div>
                    </div>

                    <div class="card bg-dark m-2">
                        <div class="card-body text-center text-white">
                            <p class="card-text">Some text inside the first card</p>
                        </div>
                    </div>

                    <div class="card bg-dark m-2">
                        <div class="card-body text-center text-white">
                            <p class="card-text">Some text inside the first card</p>
                        </div>
                    </div>

                    <div class="card bg-dark m-2">
                        <div class="card-body text-center text-white">
                            <p class="card-text">Some text inside the first card</p>
                        </div>
                    </div>

                    <div class="card bg-dark m-2">
                        <div class="card-body text-center text-white">
                            <p class="card-text">Some text inside the first card</p>
                        </div>
                    </div>

                    <div class="card bg-dark m-2">
                        <div class="card-body text-center text-white">
                            <p class="card-text">Some text inside the first card</p>
                        </div>
                    </div>

                    <div class="card bg-dark m-2">
                        <div class="card-body text-center text-white">
                            <p class="card-text">Some text inside the first card</p>
                        </div>
                    </div>

                    <div class="card bg-dark m-2">
                        <div class="card-body text-center text-white">
                            <p class="card-text">Some text inside the first card</p>
                        </div>
                    </div>

                    <div class="card bg-dark m-2">
                        <div class="card-body text-center text-white">
                            <p class="card-text">Some text inside the first card</p>
                        </div>
                    </div>

                    <div class="card bg-dark m-2">
                        <div class="card-body text-center text-white">
                            <p class="card-text">Some text inside the first card</p>
                        </div>
                    </div>

                    <div class="card bg-dark m-2">
                        <div class="card-body text-center text-white">
                            <p class="card-text">Some text inside the first card</p>
                        </div>
                    </div>

                    <div class="card bg-dark m-2">
                        <div class="card-body text-center text-white">
                            <p class="card-text">Some text inside the first card</p>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>