.ark-password-label {
    border-bottom: 1px, solid, #000000;
    width: 100%;
}

.card {
    font-size: 17px;
    min-height: 342px;
    width: 342px;
}

.card-body>hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}