<div class="container">

    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">User Panel</h1>
        </div>
    </div>

    <mat-tab-group>
        <!--My-Account-tab-->
        <mat-tab label="My Account">
            <div class="container">
                <!--Personal-Information-->
                <div class="mt-3">
                    <h5>Personal Information</h5>
                </div>
                <hr/>
                <form [formGroup]="personalInformationForm" (ngSubmit)="onSavePersonalInformation();">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="email">E-mail</label>
                        <div class="col-sm-10">
                            <input class="form-control-plaintext" formControlName="email" id="email" type="email" readonly>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="username">Username</label>
                        <div class="col-sm-10">
                            <input class="form-control" formControlName="username" id="username" type="text" placeholder="Username">
                            <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger">
                                <div *ngIf="username.errors.required">Username is required.</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="mainGameUP">Main game</label>
                        <div class="col-sm-10">
                            <select class="form-control" formControlName="mainGame" id="mainGameUP" required>
                                <option>osu!mania</option>
                                <option>Beatmania IIDX</option>
                                <option>Lunatic Rave 2</option>
                                <option>Dance Dance Revolution</option>
                                <option>Sound Voltex</option>
                            </select>
                        </div>
                    </div>
                    <button class="btn btn-primary" [disabled]="personalInformationForm.invalid || !personalInformationForm.dirty" type="submit">Save changes</button>
                    <div class="alert alert-success mt-3" [class.alert-danger]="!successEditData" *ngIf="message">{{message}}</div>
                </form>
                <!--Change-Password-->
                <div class="mt-5">
                    <h5>Change Password</h5>
                </div>
                <hr/>
                <form [formGroup]="changePasswordForm" (ngSubmit)="onChangePassword(); onResetPasswordForm();">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="currentPassword">Current password</label>
                        <div class="col-sm-10">
                            <input class="form-control" formControlName="currentPassword" id="currentPassword" type="password">
                            <div *ngIf="currentPassword.invalid && (currentPassword.dirty || currentPassword.touched)" class="alert alert-danger">
                                <div *ngIf="currentPassword.errors.required">Current password is required.</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="newPassword">New password</label>
                        <div class="col-sm-10">
                            <input class="form-control" formControlName="newPassword" id="newPassword" type="password">
                            <div *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)" class="alert alert-danger">
                                <div *ngIf="newPassword.errors.required">New password is required.</div>
                                <div *ngIf="newPassword.errors.minlength">New password must have at least 8 chars.</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="repeatedPassword">Confirm password</label>
                        <div class="col-sm-10">
                            <input class="form-control" formControlName="repeatedPassword" id="repeatedPassword" type="password">
                            <div *ngIf="repeatedPassword.invalid && (repeatedPassword.dirty || repeatedPassword.touched)" class="alert alert-danger">
                                <div *ngIf="repeatedPassword.errors.required">Password confirmation is required.</div>
                                <div *ngIf="!repeatedPassword.errors.repeatedPasswordValidator">Passwords are not the same.</div>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary" [disabled]="changePasswordForm.invalid" type="submit">Save changes</button>
                    <div class="alert alert-success mt-3" [class.alert-danger]="!successChangePassword" *ngIf="messagePassword">{{messagePassword}}</div>
                </form>
            </div>
        </mat-tab>

        <!--Scores-tab-->
        <mat-tab label="Scores">
            <div class="alert alert-info m-3" *ngIf="!hasApprovedScores">
                <h6 class="text-center">You have no scores approved or submitted yet. Go to submission score form to show off your results! :)</h6>
            </div>
            <div class="d-flex flex-wrap">
                <div class="card bg-dark m-2 " *ngFor="let score of this.approvedScores ">
                    <div class="card-body text-white ">
                        <ng-container [ngSwitch]="score.category ">
                            <ng-container *ngSwitchCase=" 'osu!mania 4k - Reform Dans' "><img src="https://i.imgur.com/SjL3d1G.png " alt="osu!mania_logo " width="75 " height="75 " mb-3></ng-container>
                            <ng-container *ngSwitchCase=" 'Beatmania IIDX - Single Play' "><img src="https://i.imgur.com/ewYXRtf.png " alt="beatmaniaiidx_logo " width="75 " height="75 " mb-3></ng-container>
                            <ng-container *ngSwitchCase=" 'Lunatic Rave 2 - BMS' "><img src="https://i.imgur.com/X9OjJvP.png " alt="lunaticrave2_logo " width="75 " height="75 " mb-3></ng-container>
                            <ng-container *ngSwitchCase=" 'Dance Dance Revolution - Single Play' "><img src="https://i.imgur.com/qMhfBCT.png " alt="dancedancerevolution_logo " width="175 " height="75 " mb-3></ng-container>
                            <ng-container *ngSwitchCase=" 'Sound Voltex - New Dans' "><img src="https://i.imgur.com/dwuvTuQ.png " alt="soundvoltex_logo " width="93 " height="75 " mb-3></ng-container>
                        </ng-container>
                        <br />
                        <br />
                        <span class="card-text font-weight-bold mt-3 ">Category: </span>
                        <span class="card-text ">{{score.category}}</span>
                        <br />
                        <span class="card-text font-weight-bold ">Dan: </span>
                        <span class="card-text ">{{score.dan}}</span>
                        <br />
                        <span class="card-text font-weight-bold ">Nickname: </span>
                        <span class="card-text ">{{score.nickname}}</span>
                        <br />
                        <span class="card-text font-weight-bold ">Score: </span>
                        <span class="card-text ">{{score.score}}</span>
                        <br />
                        <span class="card-text font-weight-bold ">Proof: </span>
                        <a class="card-text " href="{{score.proof}} " target="_blank ">Show</a>
                        <br />
                    </div>
                    <button class="btn btn-danger" type="submit" (click)="onDiscardScore(score.id)">Delete score</button>
                </div>
            </div>
        </mat-tab>

        <!--Pending-Scores-tab-->
        <mat-tab label="Pending Scores" *ngIf="roleIsAdmin">
            <div class="alert alert-info m-3" *ngIf="!hasPendingScores">
                <h6 class="text-center">There is no score waiting for submission.</h6>
            </div>
            <div class="d-flex flex-wrap">
                <div class="card bg-dark m-2" *ngFor="let score of this.pendingScores">
                    <div class="card-body text-white">
                        <ng-container [ngSwitch]="score.category">
                            <ng-container *ngSwitchCase="'osu!mania 4k - Reform Dans'"><img src="https://i.imgur.com/SjL3d1G.png" alt="osu!mania_logo" width="75" height="75" mb-3></ng-container>
                            <ng-container *ngSwitchCase="'Beatmania IIDX - Single Play'"><img src="https://i.imgur.com/ewYXRtf.png" alt="beatmaniaiidx_logo" width="75" height="75" mb-3></ng-container>
                            <ng-container *ngSwitchCase="'Lunatic Rave 2 - BMS'"><img src="https://i.imgur.com/X9OjJvP.png" alt="lunaticrave2_logo" width="75" height="75" mb-3></ng-container>
                            <ng-container *ngSwitchCase="'Dance Dance Revolution - Single Play'"><img src="https://i.imgur.com/qMhfBCT.png" alt="dancedancerevolution_logo" width="175" height="75" mb-3></ng-container>
                            <ng-container *ngSwitchCase="'Sound Voltex - New Dans'"><img src="https://i.imgur.com/dwuvTuQ.png" alt="soundvoltex_logo" width="93" height="75" mb-3></ng-container>
                        </ng-container>
                        <br />
                        <br />
                        <span class="card-text font-weight-bold mt-3">From: </span>
                        <span class="card-text">{{score.email}}</span>
                        <br />
                        <span class="card-text font-weight-bold mt-3">Category: </span>
                        <span class="card-text">{{score.category}}</span>
                        <br />
                        <span class="card-text font-weight-bold">Dan: </span>
                        <span class="card-text">{{score.dan}}</span>
                        <br />
                        <span class="card-text font-weight-bold">Nickname: </span>
                        <span class="card-text">{{score.nickname}}</span>
                        <br />
                        <span class="card-text font-weight-bold">Score: </span>
                        <span class="card-text">{{score.score}}</span>
                        <br />
                        <span class="card-text font-weight-bold">Proof: </span>
                        <a class="card-text" href="{{score.proof}}" target="_blank">Show</a>
                        <br />
                    </div>
                    <button class="btn btn-success" type="submit" (click)="onApproveScore(score.id)">Approve</button>
                    <button class="btn btn-danger" type="submit" (click)="onDiscardScore(score.id)">Discard</button>
                </div>
            </div>
        </mat-tab>

    </mat-tab-group>
</div>